# Project - Intelligent Collection Management

In [1]:
# Importing the required libraries

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns

In [25]:
# Reading the data

In [26]:
data = pd.ExcelFile("C:/Users/a.a.madhu.karanath/SAP Finance2/Intelligent_coll_test1.xlsx")

In [27]:
data.sheet_names

['KNC1 Table', 'FBL5N', 'Business Rules', 'Metrics']

In [28]:
data_knc = data.parse('KNC1 Table')

In [29]:
data_knc.columns

Index(['Customer', 'Company Code', 'Fiscal Year', 'Created on', 'User Name',
       'Balance Carryforward', 'Debit', 'Credit', 'Sales', 'Debit.1',
       'Credit.1', 'Sales.1', 'Debit.2', 'Credit.2', 'Sales.2', 'Debit.3',
       'Credit.3', 'Sales.3', 'Total O/S for the period', 'Debit.4',
       'Credit.4', 'Sales.4', 'Debit.5', 'Credit.5', 'Sales.5', 'Debit.6',
       'Credit.6', 'Sales.6', 'Debit.7', 'Credit.7', 'Sales.7', 'Debit.8',
       'Credit.8', 'Sales.8', 'Debit.9', 'Credit.9', 'Sales.9', 'Debit.10',
       'Credit.10', 'Sales.10', 'Debit.11', 'Credit.11', 'Sales.11',
       'Debit.12', 'Credit.12', 'Sales.12', 'Debit.13', 'Credit.13',
       'Sales.13', 'Debit.14', 'Credit.14', 'Sales.14', 'Debit.15',
       'Credit.15', 'Sales.15', 'Author.Deductions', 'Unauthor.Deductions',
       'Acc.int.calc.numertr', 'Clearing Amount'],
      dtype='object')

In [30]:
data_knc = data_knc[['Customer', 'Company Code', 'Fiscal Year', 
       'Balance Carryforward', 'Debit', 'Credit', 'Sales', 'Clearing Amount']]

In [69]:
customer_counts = data_fbln5['Account'].value_counts()

In [31]:
type(data_knc['Balance Carryforward'][0])

float

In [32]:
data_knc['Balance Carryforward'] = data_knc['Balance Carryforward'].astype('str')
data_knc['Balance Carryforward'] = data_knc['Balance Carryforward'].str.replace(',','')
data_knc['Balance Carryforward'] = data_knc['Balance Carryforward'].astype('float')
data_knc['Sales'] = data_knc['Sales'].astype('str')
data_knc['Sales'] = data_knc['Sales'].str.replace(',','')
data_knc['Sales'] = data_knc['Sales'].astype('float')

In [33]:
data_knc['DSO'] = (data_knc['Balance Carryforward']/data_knc['Sales'])*30

In [34]:
data_knc['DSO'] = round(data_knc['DSO'], 0)

In [35]:
data_knc['DSO']

0         86.0
1          inf
2         55.0
3          inf
4          0.0
5         38.0
6          0.0
7         18.0
8          0.0
9         22.0
10    597243.0
11         inf
12         inf
13         inf
14        54.0
15         0.0
Name: DSO, dtype: float64

In [36]:
data_knc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer              16 non-null     int64
 1   Company Code          16 non-null     int64
 2   Fiscal Year           16 non-null     int64
 3   Balance Carryforward  16 non-null     float64
 4   Debit                 16 non-null     object
 5   Credit                16 non-null     object
 6   Sales                 16 non-null     float64
 7   Clearing Amount       16 non-null     object
 8   DSO                   16 non-null     float64
dtypes: float64(3), int64(3), object(3)
memory usage: 1.2+ KB

In [37]:
type(data_knc)

pandas.core.frame.DataFrame

In [38]:
data_knc.describe()

C:\Users\a.a.madhu.karanath\AppData\Roaming\Python\Python39\site-packages\numpy\lib\function_base.py:4486: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,Customer,Company Code,Fiscal Year,Balance Carryforward,Sales,DSO
count,16.000000,16.0,16.0,16.000000,16.000000,16.0
mean,381906.250000,9001.0,2023.0,21669.292412,16926.320422,inf
std,277631.502665,0.0,0.0,34990.692807,35205.273768,NaN
min,104617.000000,9001.0,2023.0,0.000000,0.000000,0.0
25%,106227.500000,9001.0,2023.0,2.176785,0.000000,13.5
50%,384949.000000,9001.0,2023.0,25.590845,2.760000,54.5
75%,651234.000000,9001.0,2023.0,37323.500000,3122.277500,NaN
max,658721.000000,9001.0,2023.0,99082.000000,93526.000000,inf

In [39]:
data_knc['Balance Carryforward'] = data_knc['Balance Carryforward'].astype('str')

In [40]:
data_knc['Balance Carryforward'][0]

'6234.62'

In [41]:
data_fbln5= data.parse('FBL5N')

In [42]:
data_fbln5.columns

Index(['Account', 'Customer', 'Cleared/Open Items Symbol', 'Due Net',
       'Assignment', 'Document Date', 'Document Type', 'Document Number',
       'Baseline Payment Dte', 'Net Due Date', 'Clearing Document',
       'Payment Date', 'Clearing Date', 'Arrears by Net Due Date',
       'Arrears for Discount 1', 'Special G/L Ind.', 'Net Due Date Symbol',
       'Amount in Local Currency', 'Local Currency', 'Text', 'Dunning Level',
       'Dunning Area', 'Date of Promise to Pay', 'Disputed Item'],
      dtype='object')

In [43]:
data_fbln5 = data_fbln5[['Account', 'Document Date', 'Document Type','Document Number', 'Baseline Payment Dte', 'Clearing Document', 'Payment Date', 'Clearing Date','Arrears by Net Due Date', 'Amount in Local Currency']]

In [44]:
data_fbln5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Account                   616 non-null    float64
 1   Document Date             569 non-null    datetime64[ns]
 2   Document Type             569 non-null    object
 3   Document Number           569 non-null    float64
 4   Baseline Payment Dte      569 non-null    datetime64[ns]
 5   Clearing Document         461 non-null    float64
 6   Payment Date              569 non-null    datetime64[ns]
 7   Clearing Date             461 non-null    datetime64[ns]
 8   Arrears by Net Due Date   569 non-null    float64
 9   Amount in Local Currency  617 non-null    float64
dtypes: datetime64[ns](4), float64(5), object(1)
memory usage: 48.3+ KB

In [45]:
data_fbln5['Document_Exists'] = (~(data_fbln5['Clearing Document'].isna()))

In [115]:
data_fbln5['No_Document'] = data_fbln5['Clearing Document'].isna()

0       True
1       True
2       True
3       True
4       True
       ...
612    False
613    False
614     True
615     True
616     True
Name: Clearing Document, Length: 617, dtype: bool

In [46]:
data_fbln5['Document_Exists']

0      False
1      False
2      False
3      False
4      False
       ...
612     True
613     True
614    False
615    False
616    False
Name: Document_Exists, Length: 617, dtype: bool

In [56]:
data_fbln5['Ontime_pay'] = data_fbln5['Arrears by Net Due Date']<=0

In [100]:
cnt_doc_Acc = data_fbln5.groupby('Account')['Document_Exists'].sum().reset_index()

In [113]:
cnt_clear_doc = data_fbln5.groupby('Account')

In [114]:
cnt_clear_doc

     Account  Clearing Document
0   104617.0                 26
1   104988.0                 14
2   105059.0                 10
3   106226.0                 17
4   106228.0                 48
5   117582.0                 30
6   130542.0                 68
7   130761.0                 14
8   639137.0                  4
9   640649.0                 14
10  645925.0                 35
11  650657.0                  0
12  652965.0                  4
13  657928.0                  4
14  658515.0                150
15  658721.0                 23

In [95]:
data_fbln5['Ontime_pay_cnt'] = (data_fbln5['Ontime_pay'] & data_fbln5['Document_Exists'])

In [96]:
Ontime_pay_cnt = data_fbln5.groupby('Account')['Ontime_pay_cnt'].sum().reset_index()

In [99]:
Ontime_pay_cnt

     Account  Ontime_pay_cnt
0   104617.0              16
1   104988.0               6
2   105059.0               5
3   106226.0               7
4   106228.0              24
5   117582.0              11
6   130542.0              21
7   130761.0              10
8   639137.0               3
9   640649.0              10
10  645925.0              17
11  650657.0               0
12  652965.0               3
13  657928.0               3
14  658515.0              88
15  658721.0              19

In [103]:
Ontime_pay_per = (Ontime_pay_cnt['Ontime_pay_cnt']/cnt_doc_Acc['Document_Exists'])*100

In [104]:
Ontime_pay_per

0     61.538462
1     42.857143
2     50.000000
3     41.176471
4     50.000000
5     36.666667
6     30.882353
7     71.428571
8     75.000000
9     71.428571
10    48.571429
11          NaN
12    75.000000
13    75.000000
14    58.666667
15    82.608696
dtype: float64

In [105]:
delay_pay_per = ((cnt_doc_Acc['Document_Exists']-Ontime_pay_cnt['Ontime_pay_cnt'])/cnt_doc_Acc['Document_Exists'])*100

In [106]:
delay_pay_per

0     38.461538
1     57.142857
2     50.000000
3     58.823529
4     50.000000
5     63.333333
6     69.117647
7     28.571429
8     25.000000
9     28.571429
10    51.428571
11          NaN
12    25.000000
13    25.000000
14    41.333333
15    17.391304
dtype: float64

In [107]:
data_knc['Delay %'] = delay_pay_per

In [109]:
data_knc['Ontimepay %'] = Ontime_pay_per

In [110]:
data_knc

,Customer,Company Code,Fiscal Year,Balance Carryforward,Debit,Credit,Sales,Clearing Amount,DSO,Delay %,Ontimepay %
0,104617,9001,2023,6234.62,2169.37,"0,00",2169.37000,"15.113,95",86.0,38.461538,61.538462
1,104988,9001,2023,18.18327,"0,00","0,00",0.00000,"15.111,89",inf,57.142857,42.857143
2,105059,9001,2023,15.33266,"8.360,04","0,00",8.36004,"0,00",55.0,50.000000,50.000000
3,106226,9001,2023,2.20718,"0,00","0,00",0.00000,"94.458,89",inf,58.823529,41.176471
4,106228,9001,2023,98.36302,"935,26","0,00",93526.00000,"152.011,26",0.0,50.000000,50.000000
5,117582,9001,2023,99082.0,"4.032,61","275,27",78000.00000,"7.883,97",38.0,63.333333,36.666667
6,130542,9001,2023,32.99842,"59,81","13.648,31",5981.00000,"89.812,32",0.0,69.117647,30.882353
7,130761,9001,2023,53174.0,"911,24","0,00",91124.00000,"903,47",18.0,28.571429,71.428571
8,639137,9001,2023,0.0,"2.628,00","0,00",2.62800,"2.628,00",0.0,25.000000,75.000000
9,640649,9001,2023,1.29659,"1.789,91","0,00",1.78991,"3.136,33",22.0,28.571429,71.428571
10,645925,9001,2023,78000.0,"3.918,00","0,00",3.91800,"46.217,24",597243.0,51.428571,48.571429
11,650657,9001,2023,32040.0,"0,00","0,00",0.00000,"0,00",inf,NaN,NaN
12,652965,9001,2023,78000.0,"0,00","0,00",0.00000,"780,00",inf,25.000000,75.000000
13,657928,9001,2023,7.59185,"0,00","0,00",0.00000,"7.591,85",inf,25.000000,75.000000
14,658515,9001,2023,2.0856,"5.059,20","6.228,00",1.16880,"157,20",54.0,41.333333,58.666667
15,658721,9001,2023,0.0,"2.892,00","0,00",2.89200,"12.622,03",0.0,17.391304,82.608696

In [116]:
customer_counts

658515.0    159
130542.0     88
106228.0     61
645925.0     45
105059.0     43
104617.0     42
117582.0     39
658721.0     27
106226.0     26
640649.0     20
130761.0     19
104988.0     18
657928.0     10
639137.0      8
652965.0      8
650657.0      3
Name: Account, dtype: int64

In [130]:
customer_counts = data_fbln5['Account'].value_counts().reset_index()

In [136]:
cnt_doc_Acc['Document_Exists']

0      26
1      14
2      10
3      17
4      48
5      30
6      68
7      14
8       4
9      14
10     35
11      0
12      4
13      4
14    150
15     23
Name: Document_Exists, dtype: int64

In [138]:
data_knc['No Docs']  = customer_counts['Account'] - cnt_doc_Acc['Document_Exists']

In [141]:
data_knc['OverdueInvoice%'] = (data_knc['No Docs']/customer_counts['Account'])*100

In [126]:
cnt_doc_Acc['Document_Exists']

0      26
1      14
2      10
3      17
4      48
5      30
6      68
7      14
8       4
9      14
10     35
11      0
12      4
13      4
14    150
15     23
Name: Document_Exists, dtype: int64

In [128]:
cnt_doc_Acc['Document_Exists']

0      25
1      13
2       9
3      16
4      47
5      29
6      67
7      13
8       3
9      13
10     34
11     -1
12      3
13      3
14    149
15     22
Name: Document_Exists, dtype: int64

In [142]:
data_knc

,Customer,Company Code,Fiscal Year,Balance Carryforward,Debit,Credit,Sales,Clearing Amount,DSO,Delay %,Ontimepay %,No Docs,OverdueInvoice%
0,104617,9001,2023,6234.62,2169.37,"0,00",2169.37000,"15.113,95",86.0,38.461538,61.538462,133,83.647799
1,104988,9001,2023,18.18327,"0,00","0,00",0.00000,"15.111,89",inf,57.142857,42.857143,74,84.090909
2,105059,9001,2023,15.33266,"8.360,04","0,00",8.36004,"0,00",55.0,50.000000,50.000000,51,83.606557
3,106226,9001,2023,2.20718,"0,00","0,00",0.00000,"94.458,89",inf,58.823529,41.176471,28,62.222222
4,106228,9001,2023,98.36302,"935,26","0,00",93526.00000,"152.011,26",0.0,50.000000,50.000000,-5,-11.627907
5,117582,9001,2023,99082.0,"4.032,61","275,27",78000.00000,"7.883,97",38.0,63.333333,36.666667,12,28.571429
6,130542,9001,2023,32.99842,"59,81","13.648,31",5981.00000,"89.812,32",0.0,69.117647,30.882353,-29,-74.358974
7,130761,9001,2023,53174.0,"911,24","0,00",91124.00000,"903,47",18.0,28.571429,71.428571,13,48.148148
8,639137,9001,2023,0.0,"2.628,00","0,00",2.62800,"2.628,00",0.0,25.000000,75.000000,22,84.615385
9,640649,9001,2023,1.29659,"1.789,91","0,00",1.78991,"3.136,33",22.0,28.571429,71.428571,6,30.000000
10,645925,9001,2023,78000.0,"3.918,00","0,00",3.91800,"46.217,24",597243.0,51.428571,48.571429,-16,-84.210526
11,650657,9001,2023,32040.0,"0,00","0,00",0.00000,"0,00",inf,NaN,NaN,18,100.000000
12,652965,9001,2023,78000.0,"0,00","0,00",0.00000,"780,00",inf,25.000000,75.000000,6,60.000000
13,657928,9001,2023,7.59185,"0,00","0,00",0.00000,"7.591,85",inf,25.000000,75.000000,4,50.000000
14,658515,9001,2023,2.0856,"5.059,20","6.228,00",1.16880,"157,20",54.0,41.333333,58.666667,-142,-1775.000000
15,658721,9001,2023,0.0,"2.892,00","0,00",2.89200,"12.622,03",0.0,17.391304,82.608696,-20,-666.666667