In [1]:
from pandasai.llm.azure_openai import AzureOpenAI
from pandasai import PandasAI

ModuleNotFoundError: No module named 'pandasai'

In [2]:
import openai
openai.api_type = 
openai.api_base = 
openai.api_version = 
openai.api_key =

In [3]:
llm = AzureOpenAI(api_token = openai.api_key, 
                  api_base = openai.api_base,
                 api_version = openai.api_version,
                 api_type = openai.api_type,
                 deployment_name = "gpt-35-turbo")

In [4]:
import json
import pandas as pd

# Open the json file
with open('../Agent1/raw_data/raw_data.json') as f:
    # Load the json object as a dictionary
    data = json.load(f)

In [5]:
df = pd.DataFrame(data["value"])
df = df.dropna()

In [6]:
columns = ['Version___Description', 'Date___FISCAL_CALPERIOD', 'FLOW_TYPE___Description', \
         'SAP_ALL_COMPANY_CODE___Description', 'SAP_FI_IFP_GLACCOUNT___Description', \
         'SAP_ALL_PROFITCENTER___Description', 'SAP_ALL_FUNCTIONALAREA___Description',\
         'SAP_ALL_TRADINGPARTNER___Description', 'AMOUNT']

df = df[columns]

In [7]:
df

,Version___Description,Date___FISCAL_CALPERIOD,FLOW_TYPE___Description,SAP_ALL_COMPANY_CODE___Description,SAP_FI_IFP_GLACCOUNT___Description,SAP_ALL_PROFITCENTER___Description,SAP_ALL_FUNCTIONALAREA___Description,SAP_ALL_TRADINGPARTNER___Description,AMOUNT
0,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Consulting Unit A,Unassigned,Unassigned,-11000.0
1,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Bike Parts,Unassigned,Unassigned,181400.0
2,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Bicycles,Unassigned,Unassigned,14150.0
3,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Shared Services,Unassigned,Unassigned,-33000.0
4,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Trading Goods,Unassigned,Unassigned,-50000.0
...,...,...,...,...,...,...,...,...,...
3945,Plan,202310,Control Parameter,Company Code 1710,Payroll Expense - Salaries,Unassigned,Unassigned,Unassigned,3.0
3946,Plan,202311,Control Parameter,Company Code 1710,Travel Expenses - Miscellaneous,Unassigned,Unassigned,Unassigned,3.0
3947,Plan,202311,Control Parameter,Company Code 1710,Payroll Expense - Salaries,Unassigned,Unassigned,Unassigned,3.0
3948,Plan,202312,Control Parameter,Company Code 1710,Travel Expenses - Miscellaneous,Unassigned,Unassigned,Unassigned,3.0
3949,Plan,202312,Control Parameter,Company Code 1710,Payroll Expense - Salaries,Unassigned,Unassigned,Unassigned,3.0

In [ ]:
# Abhishek will apply his filtering logic!!!

In [ ]:
# we get the filtered_df

In [8]:
# Not Important
#llm

In [9]:
# Initialize the LLM Agent
pandas_ai = PandasAI(llm)
#pandas_ai

In [10]:
# Ask your queries!!!

pandas_ai(filtered_df, prompt="What were the main drivers of cost increases in 2022")

,Version___Description,Date___FISCAL_CALPERIOD,FLOW_TYPE___Description,SAP_ALL_COMPANY_CODE___Description,SAP_FI_IFP_GLACCOUNT___Description,SAP_ALL_PROFITCENTER___Description,SAP_ALL_FUNCTIONALAREA___Description,SAP_ALL_TRADINGPARTNER___Description,AMOUNT
0,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Consulting Unit A,Unassigned,Unassigned,-11000.0
1,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Bike Parts,Unassigned,Unassigned,181400.0
2,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Bicycles,Unassigned,Unassigned,14150.0
3,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Shared Services,Unassigned,Unassigned,-33000.0
4,Actual,202201,Changing Amount,Company Code 1710,Bank 1 - Bank (Main) Account,Trading Goods,Unassigned,Unassigned,-50000.0

In [12]:
pandas_ai(df, prompt="Calculate the variance percentage between actual and plan for column Version___Description for the year 2022 and 2023?")

'question'

"Unfortunately, I was not able to answer your question, because of the following error:\n\n'question'\n"