In [5]:
import pandas as pd
import numpy as np
import pdfplumber
import datetime as dt

In [6]:
data = pd.ExcelFile(r"C:\Users\abhishek.cw.gupta\Downloads\Gen AI - Collection Use case data_V1Latest1.xlsx")

# Getting the data for sheet FBL5N Table
data_fbl5n = data.parse('FBL5N Report ')

# Reading the ukmbp_cms data
data_ukmbp = data.parse('UKMBP_CMS')

# Reading the disputed items list
data_di = data.parse('Disputed Items')

# Retrieve Worklist data
data_worklist = data.parse('Collection Worklist Mf')

# comparing the date with todays date
from datetime import datetime, timedelta, date

# Get today's date
data_fbl5n['Present Date'] = date.today()

# Comparing the Net Due Date greater than Present Date
(data_fbl5n['Net Due Date']) > data_fbl5n['Present Date']

data_fbl5n['Amount in Local Currency'] = [float(str(i).replace(",", "")) for i in data_fbl5n['Amount in Local Currency']]

# Calculating the Payment Due sum > Present day and group by customer and Amaount sum
amount_sum = pd.DataFrame(data_fbl5n[data_fbl5n['Net Due Date'] > data_fbl5n['Present Date']].groupby('Customer')['Amount in Local Currency'].sum())

# Checking the Rule_2 condition
amount_sum['cond_2'] = (amount_sum['Amount in Local Currency'] > 50000) & (amount_sum['Amount in Local Currency'] < 1000000)

# Checking the Rule_2 condition and assigning the valuation points accordingly
amount_sum['valu_2'] = np.where(amount_sum['cond_2'] == True, 35, 0)

# index change to columns
amount_sum.reset_index(level=0, inplace=True) 

# Ceating the customer column
data_ukmbp['Customer'] = ['Amazon.com','Target Corp', 'Walmart Inc.']

# Merging the dataframes with the rule
result = pd.merge(data_ukmbp, amount_sum, how="outer", on=["Customer", "Customer"])

# Checking the Rule_3 condition
amount_sum_30 = pd.DataFrame(data_fbl5n[data_fbl5n['Net Due Date'] > (data_fbl5n['Present Date'] - timedelta(days=30))].groupby('Customer')['Amount in Local Currency'].sum())

# Checking the Rule_3 condition
amount_sum['cond_3'] = (amount_sum['Amount in Local Currency'] > 50000) & (amount_sum['Amount in Local Currency'] < 10000000)

# Checking the Rule_3 condition and assigning the valuation points accordingly
amount_sum['valu_3'] = np.where(amount_sum['cond_3'] == True, 50, 0)

#Merging the dataframes
data_ukmbp = pd.merge(data_ukmbp, data_di, how="outer", on =['Business Partner',"Business Partner"])

#Merging the dataframes with the rule
data_ukmbp = pd.merge(data_ukmbp, data_fbl5n, how="outer", on=["Customer", "Customer"])

# Merging the dataframes with the rule
data_ukmbp = pd.merge(data_ukmbp, amount_sum, how="outer", on=["Customer", "Customer"])

# Rule_1 for risk class
risk_class = '|'.join(['C','D','E'])
data_ukmbp['Risk Class'].str.contains(risk_class)
data_ukmbp['valu_1'] = np.where(data_ukmbp['Risk Class'].str.contains(risk_class), 0, 20)
path = "C:/Users/abhishek.cw.gupta/Desktop/" + "Amazon-2023-Annual Report.pdf"
with pdfplumber.open(path) as f:
    print("*****",f.pages[5].extract_tables())

bs_infolist = f.pages[5].extract_tables()

# cahnge the 3d list to 2d list
import itertools
bs_infolist2d = list(itertools.chain.from_iterable(bs_infolist))

# Create a balance sheet dictionary
bs_infodict = {tuple(e[0]): tuple(e[1:]) for e in bs_infolist2d}

# Popping first element of a list
from operator import itemgetter
pop_list = list( map(itemgetter(0), bs_infolist2d))

# Creating a dictionary from the list
final_dict = dict(zip(pop_list, list(bs_infodict.values())))

# Creating o dataframe from the dictionary
bs_dataframe = pd.DataFrame(final_dict)

# Replacing the comas in columns
bs_dataframe['Total current assets'] = [str(i).replace(",", "") for i in bs_dataframe['Total current assets']]
bs_dataframe['Inventories'] = [str(i).replace(",", "") for i in bs_dataframe['Inventories']]
bs_dataframe['Total liabilities and stockholders’ equity'] = [str(i).replace(",", "") for i in bs_dataframe['Total liabilities and stockholders’ equity']]

# Use the `to_numeric()` function to convert the column to floats
bs_dataframe["Total current assets"] = pd.to_numeric(bs_dataframe["Total current assets"], errors='coerce')
bs_dataframe['Inventories'] = pd.to_numeric(bs_dataframe['Inventories'], errors='coerce')
bs_dataframe['Total liabilities and stockholders’ equity'] = pd.to_numeric(bs_dataframe['Total liabilities and stockholders’ equity'], errors='coerce')

#Find the bs_ratio
data_ukmbp['bp_ratio'] = 0
data_ukmbp['bp_ratio'][0] = (bs_dataframe["Total current assets"][3]-bs_dataframe['Inventories'][3])/bs_dataframe['Total liabilities and stockholders’ equity'][4]

# Fill nan with 0's
data_ukmbp = data_ukmbp.fillna(0)

# Adding the total valuation points
data_ukmbp['Value Total'] = data_ukmbp['valu_1'] + data_ukmbp['valu_2'] + data_ukmbp['valu_3']

# Assigning the strtegy as per the valuation totals
value_cls = [(data_ukmbp['Value Total'] == 20), (data_ukmbp['Value Total'] == 35), (data_ukmbp['Value Total'] == 55)]
data_ukmbp["Strategy"] = np.select(value_cls, ['GEN001','GEN001', 'GEN001'] )

# Initializing the summary column
data_ukmbp['Summary'] = ""
#  Assigning the strtegy as per the bp_ratio
value_cls = [(data_ukmbp['bp_ratio'] < 0.6), (data_ukmbp['bp_ratio'] != 0.0), (data_ukmbp['bp_ratio'] == 0.0) ]
data_ukmbp["Strategy Change1"] = np.select(value_cls, ['GEN00X', 'GEN00X', 'GEN001'])

# Adding up strategy change summary
for ind, item in enumerate(data_ukmbp['bp_ratio']):
    if item < 0.6 :
        data_ukmbp["Strategy Change1"][ind] = 'GEN00X'
        data_ukmbp['Summary'][ind] = f'Due to change in bp_ratio {item}, the strategy changed from GEN001 to GEN00X'
    else:
        data_ukmbp["Strategy Change1"][ind] = 'GEN001'

data_Worklist_mf = pd.merge(data_worklist,data_ukmbp[['Summary', "Business Partner", "Value Total"]], how="outer", on=["Business Partner"])
# st.dataframe(data_Worklist_mf.style.highlight_max(axis=0))

data_Worklist_mf.to_csv('worklist.csv', index = False)
df = pd.merge(data_worklist, data_ukmbp, how="outer", on=["Business Partner"])
df.columns
df['Outstanding']

***** [[['ASSETS', '', None, '', '', None], ['Current assets:', '', None, '', '', None], ['Cash and cash equivalents', '$', '53,888', '', '$', '49,343'], ['Marketable securities', '16,138', None, '', '15,062', None], ['Inventories', '34,405', None, '', '34,170', None], ['Accounts receivable, net and other', '42,360', None, '', '37,646', None], ['Total current assets', '146,791', None, '', '136,221', None], ['Property and equipment, net', '186,715', None, '', '190,754', None], ['Operating leases', '66,123', None, '', '68,262', None], ['Goodwill', '20,288', None, '', '22,749', None], ['Other assets', '42,758', None, '', '46,392', None], ['Total assets', '$', '462,675', '', '$', '464,378'], ['LIABILITIES AND STOCKHOLDERS’ EQUITY', '', None, '', '', None], ['Current liabilities:', '', None, '', '', None], ['Accounts payable', '$', '79,600', '', '$', '66,907'], ['Accrued expenses and other', '62,566', None, '', '66,382', None], ['Unearned revenue', '13,227', None, '', '14,281', None], ['Total current liabilities', '155,393', None, '', '147,570', None], ['Long-term lease liabilities', '72,968', None, '', '74,267', None], ['Long-term debt', '67,150', None, '', '67,084', None], ['Other long-term liabilities', '21,121', None, '', '20,931', None], ['Commitments and contingencies (Note 4)', '', None, '', '', None], ['Stockholders’ equity:', '', None, '', '', None], ['Preferred stock ($0.01 par value; 500 shares authorized; no shares issued or outstanding)', '—', None, '', '—', None], ['Common stock ($0.01 par value; 100,000 shares authorized; 10,757 and 10,773 shares issued; 10,242 and\n10,258 shares outstanding)', '108', None, '', '108', None], ['Treasury stock, at cost', '(7,837)', None, '', '(7,837)', None], ['Additional paid-in capital', '75,066', None, '', '79,863', None], ['Accumulated other comprehensive income (loss)', '(4,487)', None, '', '(3,973)', None], ['Retained earnings', '83,193', None, '', '86,365', None], ['Total stockholders’ equity', '146,043', None, '', '154,526', None], ['Total liabilities and stockholders’ equity', '$', '462,675', '', '$', '464,378']]]

C:\Users\abhishek.cw.gupta\AppData\Local\Temp\ipykernel_22896\2962389935.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ukmbp['bp_ratio'][0] = (bs_dataframe["Total current assets"][3]-bs_dataframe['Inventories'][3])/bs_dataframe['Total liabilities and stockholders’ equity'][4]
C:\Users\abhishek.cw.gupta\AppData\Local\Temp\ipykernel_22896\2962389935.py:122: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ukmbp["Strategy Change1"][ind] = 'GEN00X'
C:\Users\abhishek.cw.gupta\AppData\Local\Temp\ipykernel_22896\2962389935.py:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ukmbp['Summary'][ind] = f'Due to change in bp_ratio {item}, the strategy changed from GEN001 to GEN00X'

0       3.235300e+10
1       3.235300e+10
2       3.235300e+10
3       3.235300e+10
4       3.235300e+10
            ...
5757             NaN
5758             NaN
5759             NaN
5760             NaN
5761             NaN
Name: Outstanding, Length: 5762, dtype: float64

In [7]:
# Filter the necessary columns
df_filtered = df[['Customer','Strategy']]

# Filter based on Customer
amazon_coll_strategy = df_filtered[df_filtered['Customer'].str.contains('Amazon')].loc[0,'Strategy']
print(amazon_coll_strategy)

0

In [8]:
df.columns

Index(['Business Partner', 'Name of Business Partner',
       'Description of Priority', 'Strategy Currency', 'Outstanding',
       'Amount to Be Collected', 'Promised Amount', 'Disputed Amount_x',
       'Dunned Amount', 'Highest Dunning Level', 'Name of Credit Segment',
       'Credit Limit', 'Utilization %', 'Risk Class_x', 'Collection Segment',
       'Collection Strategy', 'Strategy Version',
       'Name of Collection Strategy', 'Valuation', 'Percentage Valuation',
       'Rule with Highest Valuation', 'Prerequisite for Rule', 'Receivables',
       'Credit Segment', 'Score_x', 'Name of Risk Class', 'External Valuation',
       'External Valuation Procedure', 'Gen AI comments ', 'Score_y',
       'Credit Check Rule', 'Rule for Calc. Score and Credit Limit',
       'Calculated Score', 'Risk Class_y', 'Customer', 'Dispute Case ID',
       'Invoice Document', 'Disputed Amount_y', 'Status of Dispute',
       'Reason of Dispute', 'No of Days Dispute is Open', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'BP ', 'Document Number',
       'Clearing/Open item symbol ', 'Document Type', 'Document Date',
       'Amount in Local Currency_x', 'Local Currency', 'Due Net',
       'Net Due Date', 'Arrears by net due date', 'Posting Date',
       'Dunning level ', 'Cash Discount', 'Payment Terms', 'Payment Date',
       'Present Date', 'Amount in Local Currency_y', 'cond_2', 'valu_2',
       'cond_3', 'valu_3', 'valu_1', 'bp_ratio', 'Value Total', 'Strategy',
       'Summary', 'Strategy Change1'],
      dtype='object')

In [9]:
df['Net Due Date']

0       2023-01-14 00:00:00
1       2023-04-26 00:00:00
2       2023-06-17 00:00:00
3       2023-06-19 00:00:00
4       2023-07-17 00:00:00
               ...
5757    2024-01-02 00:00:00
5758    2024-02-02 00:00:00
5759    2023-09-02 00:00:00
5760    2024-01-02 00:00:00
5761    2023-10-17 00:00:00
Name: Net Due Date, Length: 5762, dtype: object

In [10]:
df['Payment Date']

0       2023-01-04 00:00:00
1       2023-04-16 00:00:00
2       2023-05-23 00:00:00
3       2023-05-25 00:00:00
4       2023-06-22 00:00:00
               ...
5757                      0
5758                      0
5759    2023-09-02 00:00:00
5760    2024-01-02 00:00:00
5761    2023-10-17 00:00:00
Name: Payment Date, Length: 5762, dtype: object

In [11]:
data_Worklist_mf.columns

Index(['Business Partner', 'Name of Business Partner',
       'Description of Priority', 'Strategy Currency', 'Outstanding',
       'Amount to Be Collected', 'Promised Amount', 'Disputed Amount',
       'Dunned Amount', 'Highest Dunning Level', 'Name of Credit Segment',
       'Credit Limit', 'Utilization %', 'Risk Class', 'Collection Segment',
       'Collection Strategy', 'Strategy Version',
       'Name of Collection Strategy', 'Valuation', 'Percentage Valuation',
       'Rule with Highest Valuation', 'Prerequisite for Rule', 'Receivables',
       'Credit Segment', 'Score', 'Name of Risk Class', 'External Valuation',
       'External Valuation Procedure', 'Gen AI comments ', 'Summary',
       'Value Total'],
      dtype='object')

In [12]:
data_ukmbp.columns

Index(['Business Partner', 'Score', 'Credit Check Rule',
       'Rule for Calc. Score and Credit Limit', 'Calculated Score',
       'Risk Class', 'Customer', 'Dispute Case ID', 'Invoice Document',
       'Disputed Amount', 'Status of Dispute', 'Reason of Dispute',
       'No of Days Dispute is Open', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'BP ', 'Document Number', 'Clearing/Open item symbol ',
       'Document Type', 'Document Date', 'Amount in Local Currency_x',
       'Local Currency', 'Due Net', 'Net Due Date', 'Arrears by net due date',
       'Posting Date', 'Dunning level ', 'Cash Discount', 'Payment Terms',
       'Payment Date', 'Present Date', 'Amount in Local Currency_y', 'cond_2',
       'valu_2', 'cond_3', 'valu_3', 'valu_1', 'bp_ratio', 'Value Total',
       'Strategy', 'Summary', 'Strategy Change1'],
      dtype='object')

In [13]:
bs_dataframe.columns

Index(['ASSETS', 'Current assets:', 'Cash and cash equivalents',
       'Marketable securities', 'Inventories',
       'Accounts receivable, net and other', 'Total current assets',
       'Property and equipment, net', 'Operating leases', 'Goodwill',
       'Other assets', 'Total assets', 'LIABILITIES AND STOCKHOLDERS’ EQUITY',
       'Current liabilities:', 'Accounts payable',
       'Accrued expenses and other', 'Unearned revenue',
       'Total current liabilities', 'Long-term lease liabilities',
       'Long-term debt', 'Other long-term liabilities',
       'Commitments and contingencies (Note 4)', 'Stockholders’ equity:',
       'Preferred stock ($0.01 par value; 500 shares authorized; no shares issued or outstanding)',
       'Common stock ($0.01 par value; 100,000 shares authorized; 10,757 and 10,773 shares issued; 10,242 and\n10,258 shares outstanding)',
       'Treasury stock, at cost', 'Additional paid-in capital',
       'Accumulated other comprehensive income (loss)', 'Retained earnings',
       'Total stockholders’ equity',
       'Total liabilities and stockholders’ equity'],
      dtype='object')

In [14]:
result.columns

Index(['Business Partner', 'Score', 'Credit Check Rule',
       'Rule for Calc. Score and Credit Limit', 'Calculated Score',
       'Risk Class', 'Customer', 'Amount in Local Currency', 'cond_2',
       'valu_2'],
      dtype='object')

In [15]:
data_fbl5n.columns

Index(['BP ', 'Document Number', 'Clearing/Open item symbol ', 'Document Type',
       'Document Date', 'Amount in Local Currency', 'Local Currency',
       'Due Net', 'Net Due Date', 'Arrears by net due date', 'Posting Date',
       'Dunning level ', 'Cash Discount', 'Payment Terms', 'Payment Date',
       'Customer', 'Present Date'],
      dtype='object')

In [16]:
amount_sum

      Customer  Amount in Local Currency  cond_2  valu_2  cond_3  valu_3
0   Amazon.com              7.911202e+06   False       0    True      50
1  Target Corp              1.100000e+07   False       0   False       0

In [17]:
data_fbl5n['Present Date']

0      2024-02-20
1      2024-02-20
2      2024-02-20
3      2024-02-20
4      2024-02-20
          ...
212    2024-02-20
213    2024-02-20
214    2024-02-20
215    2024-02-20
216    2024-02-20
Name: Present Date, Length: 217, dtype: object

In [18]:
data_fbl5n['Net Due Date']-data_fbl5n['Present Date']
# d1 = datetime.strptime(str_d1, "%Y/%m/%d")
# d2 = datetime.strptime(str_d2, "%Y/%m/%d")
# data_fbl5n['Difference'] = data_fbl5n['Net Due Date'].sub(data_fbl5n['Present Date'], axis=0)
# df_test['Difference'] = (data_fbl5n['Net Due Date'] - data_fbl5n['Present Date']).dt.days
# difference between dates in timedelta
# delta = datetime.strptime(data_fbl5n['Net Due Date'], "%Y-%m-%d") - datetime.strptime(data_fbl5n['Present Date'].str, "%Y-%m-%d")
# data_fbl5n['Difference']

C:\Users\abhishek.cw.gupta\AppData\Local\Temp\ipykernel_22896\1456919771.py:1: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized.
  data_fbl5n['Net Due Date']-data_fbl5n['Present Date']

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'datetime.date'

In [19]:
amount_sum_30

               Amount in Local Currency
Customer
Amazon.com                 5.927021e+08
Target Corp                1.500000e+07
Walmart Inc.               2.688200e+05

In [20]:
data_ukmbp

,Business Partner,Score,Credit Check Rule,Rule for Calc. Score and Credit Limit,Calculated Score,Risk Class,Customer,Dispute Case ID,Invoice Document,Disputed Amount,...,cond_2,valu_2,cond_3,valu_3,valu_1,bp_ratio,Value Total,Strategy,Summary,Strategy Change1
0,18.0,0.0,3.0,B2C-EXIST,0.0,B,Amazon.com,DC001,9.300000e+09,0,...,False,0.0,True,50.0,20,0.219758,70.0,0,"Due to change in bp_ratio 0.21975847262359544,...",GEN00X
1,18.0,0.0,3.0,B2C-EXIST,0.0,B,Amazon.com,DC001,9.300000e+09,0,...,False,0.0,True,50.0,20,0.000000,70.0,0,"Due to change in bp_ratio 0.0, the strategy ch...",GEN00X
2,18.0,0.0,3.0,B2C-EXIST,0.0,B,Amazon.com,DC001,9.300000e+09,0,...,False,0.0,True,50.0,20,0.000000,70.0,0,"Due to change in bp_ratio 0.0, the strategy ch...",GEN00X
3,18.0,0.0,3.0,B2C-EXIST,0.0,B,Amazon.com,DC001,9.300000e+09,0,...,False,0.0,True,50.0,20,0.000000,70.0,0,"Due to change in bp_ratio 0.0, the strategy ch...",GEN00X
4,18.0,0.0,3.0,B2C-EXIST,0.0,B,Amazon.com,DC001,9.300000e+09,0,...,False,0.0,True,50.0,20,0.000000,70.0,0,"Due to change in bp_ratio 0.0, the strategy ch...",GEN00X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5757,0.0,0.0,0.0,0,0.0,0,Walmart Inc.,0,0.000000e+00,0,...,0,0.0,0,0.0,0,0.000000,0.0,0,"Due to change in bp_ratio 0.0, the strategy ch...",GEN00X
5758,0.0,0.0,0.0,0,0.0,0,Walmart Inc.,0,0.000000e+00,0,...,0,0.0,0,0.0,0,0.000000,0.0,0,"Due to change in bp_ratio 0.0, the strategy ch...",GEN00X
5759,0.0,0.0,0.0,0,0.0,0,Walmart Inc.,0,0.000000e+00,0,...,0,0.0,0,0.0,0,0.000000,0.0,0,"Due to change in bp_ratio 0.0, the strategy ch...",GEN00X
5760,0.0,0.0,0.0,0,0.0,0,Walmart Inc.,0,0.000000e+00,0,...,0,0.0,0,0.0,0,0.000000,0.0,0,"Due to change in bp_ratio 0.0, the strategy ch...",GEN00X
5761,0.0,0.0,0.0,0,0.0,0,Walmart Inc.,0,0.000000e+00,0,...,0,0.0,0,0.0,0,0.000000,0.0,0,"Due to change in bp_ratio 0.0, the strategy ch...",GEN00X

In [21]:
df_check2 = pd.merge(data_ukmbp,data_fbl5n, how="outer", on=["Customer", "Customer"])
df_check2.columns

Index(['Business Partner', 'Score', 'Credit Check Rule',
       'Rule for Calc. Score and Credit Limit', 'Calculated Score',
       'Risk Class', 'Customer', 'Dispute Case ID', 'Invoice Document',
       'Disputed Amount', 'Status of Dispute', 'Reason of Dispute',
       'No of Days Dispute is Open', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'BP _x', 'Document Number_x',
       'Clearing/Open item symbol _x', 'Document Type_x', 'Document Date_x',
       'Amount in Local Currency_x', 'Local Currency_x', 'Due Net_x',
       'Net Due Date_x', 'Arrears by net due date_x', 'Posting Date_x',
       'Dunning level _x', 'Cash Discount_x', 'Payment Terms_x',
       'Payment Date_x', 'Present Date_x', 'Amount in Local Currency_y',
       'cond_2', 'valu_2', 'cond_3', 'valu_3', 'valu_1', 'bp_ratio',
       'Value Total', 'Strategy', 'Summary', 'Strategy Change1', 'BP _y',
       'Document Number_y', 'Clearing/Open item symbol _y', 'Document Type_y',
       'Document Date_y', 'Amount in Local Currency', 'Local Currency_y',
       'Due Net_y', 'Net Due Date_y', 'Arrears by net due date_y',
       'Posting Date_y', 'Dunning level _y', 'Cash Discount_y',
       'Payment Terms_y', 'Payment Date_y', 'Present Date_y'],
      dtype='object')

In [22]:
data_ukmbp.columns

Index(['Business Partner', 'Score', 'Credit Check Rule',
       'Rule for Calc. Score and Credit Limit', 'Calculated Score',
       'Risk Class', 'Customer', 'Dispute Case ID', 'Invoice Document',
       'Disputed Amount', 'Status of Dispute', 'Reason of Dispute',
       'No of Days Dispute is Open', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'BP ', 'Document Number', 'Clearing/Open item symbol ',
       'Document Type', 'Document Date', 'Amount in Local Currency_x',
       'Local Currency', 'Due Net', 'Net Due Date', 'Arrears by net due date',
       'Posting Date', 'Dunning level ', 'Cash Discount', 'Payment Terms',
       'Payment Date', 'Present Date', 'Amount in Local Currency_y', 'cond_2',
       'valu_2', 'cond_3', 'valu_3', 'valu_1', 'bp_ratio', 'Value Total',
       'Strategy', 'Summary', 'Strategy Change1'],
      dtype='object')

In [23]:
data_fbl5n.columns

Index(['BP ', 'Document Number', 'Clearing/Open item symbol ', 'Document Type',
       'Document Date', 'Amount in Local Currency', 'Local Currency',
       'Due Net', 'Net Due Date', 'Arrears by net due date', 'Posting Date',
       'Dunning level ', 'Cash Discount', 'Payment Terms', 'Payment Date',
       'Customer', 'Present Date'],
      dtype='object')

In [24]:
df_check

NameError: name 'df_check' is not defined

In [ ]:
df_check2

In [ ]:
df.columns

In [ ]:
df['Net Due Date']

In [ ]:
df.columns

In [ ]:
df['Present Date']

In [25]:
df=df.drop(df[df['Payment Date']==0].index)

In [ ]:
df['Net Due Date']-df['Payment Date']

In [ ]:
df['Payment Date']

In [26]:

# df['Net Due Date'] = pd.to_datetime(df['Net Due Date'])  
df['Payment Date'] = pd.to_datetime(df['Payment Date'], errors='coerce')  
# df['Payment Date'][0] = df['Payment Date'][0].dt.date
# type(df['Payment Date'][0])
# type(df['Net Due Date'][4])
# df['Payment Date'].apply(pd.Timestamp)

In [ ]:
print(type(df['Net Due Date'][0]))

In [ ]:
print(type(df['Payment Date'][0]))

In [ ]:
df['Payment Date']

In [27]:
df['Net Due Date']-df['Present Date']

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'datetime.date'

In [ ]:
data_fbl5n.columns

In [ ]:
df.columns

In [28]:
bad_debt_prob=(df[(df['Reason of Dispute']=='Bad Debt') & (df['Business Partner']==18)].count()[0])/(df[(df['Business Partner']==18)].count()[0])
bad_debt_prob

0.20689655172413793

In [ ]:
(data_di[data_di['Reason of Dispute']=='Bad Debt'].count()[0])/(data_di.count()[0])

In [31]:
var = bad_debt_prob*df['Outstanding'][0]
var

6693724137.931034